{{ define "main" }}

{{ $jukeboxes := site.Data.jukeboxes.entries }}
{{ $currentJukeboxId := .Params.jukeboxId }}
{{ if and (not $currentJukeboxId) (gt (len $jukeboxes) 0) }}
  {{ $currentJukeboxId = (index $jukeboxes 0).id }}
{{ end }}

<main class="jbx-page">
  <header> 
    {{ with .Content }}
      <div>{{ . }}</div>
    {{ end }}
  </header>

  {{ $jukeboxSongs := slice }}
  {{ range site.Data.songs.entries }}
    {{ if .youtube_video_id }}
      {{ $jukeboxSongs = $jukeboxSongs | append . }}
    {{ end }}
  {{ end }}

  {{ partial "jukebox.html" (dict
    "songs" $jukeboxSongs
    "jukeboxes" $jukeboxes
    "currentJukeboxId" $currentJukeboxId
  ) }}

</main>

{{ partial "scripts-jukebox.html" (dict "currentJukeboxId" $currentJukeboxId) }}

{{ end }}
