{{ define "main" }}

<h1>{{ .Title }}</h1>
<p class="post-meta">
  Written by <a href="/about" target="_blank">Andrei N. Ciobanu</a> on
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format "02 Jan, 2006" }}
    </time>
  </i>
</p>

{{ $lp := 2551443 }}
{{ $newMoon := 592500 }}
{{ $phase := mod (sub .Date.Unix $newMoon) $lp }}
{{ $age := div (mul $phase 8) $lp }}

<p>
<em><span title="Moon phase at time of writing" style="font-size: 0.7rem; cursor: help; color: #888;">
  ... beneath a {{ if eq $age 0 }}🌑 New Moon{{ else if eq $age 1 }}🌒 Waxing Crescent{{ else if eq $age 2 }}🌓 First Quarter{{ else if eq $age 3 }}🌔 Waxing Gibbous{{ else if eq $age 4 }}Full Moon 🌕{{ else if eq $age 5 }}🌖 Waning Gibbous{{ else if eq $age 6 }}🌗 Last Quarter{{ else if eq $age 7 }}🌘 Waning Crescent{{ end }}
</span></em>
</p>

{{ with .Params.problemTags }}
  <p class="olympiad-problem-tags">
    {{ range . }}
      <span class="olympiad-problem-tag">#{{ . }}</span>
    {{ end }}
  </p>
{{ end }}

<content>
  {{ partial "olympiad-linkify.html" .Content }}
</content>

{{ $problems := slice }}
{{ range sort (where site.RegularPages "Section" "olympiad") "Params.code" "desc" }}
  {{ if .Params.code }}
    {{ $problems = $problems | append . }}
  {{ end }}
{{ end }}
{{ $currentIndex := -1 }}
{{ range $idx, $problem := $problems }}
  {{ if eq $problem.RelPermalink $.RelPermalink }}
    {{ $currentIndex = $idx }}
  {{ end }}
{{ end }}
{{ $prevProblem := "" }}
{{ $nextProblem := "" }}
{{ if ge $currentIndex 0 }}
  {{ if gt $currentIndex 0 }}
    {{ $nextProblem = index $problems (sub $currentIndex 1) }}
  {{ end }}
  {{ if lt $currentIndex (sub (len $problems) 1) }}
    {{ $prevProblem = index $problems (add $currentIndex 1) }}
  {{ end }}
{{ end }}

<nav class="olympiad-problem-nav list-pagination" aria-label="Problem navigation">
  {{ if $prevProblem }}
    <a href="{{ $prevProblem.RelPermalink }}" class="list-page-nav">prev</a>
  {{ else }}
    <span class="list-page-nav olympiad-problem-nav-disabled" aria-disabled="true">prev</span>
  {{ end }}
  <span class="list-page-numbers"></span>
  {{ if $nextProblem }}
    <a href="{{ $nextProblem.RelPermalink }}" class="list-page-nav">next</a>
  {{ else }}
    <span class="list-page-nav olympiad-problem-nav-disabled" aria-disabled="true">next</span>
  {{ end }}
</nav>

<p class="olympiad-collection-note">
  This problem is part of the olympiad collection. Visit <a href="{{ "olympiad/" | relURL }}">the main olympiad page</a> to see more problems, topics, and filters.
</p>


<br/><hr/><br/>

{{ partial "git-olympiad.html" . }}

<br/>

{{ partial "giscus.html" . }}

{{ end }}
