{{ $songs := .songs }}
{{ $jukeboxes := .jukeboxes }}
{{ $currentJukeboxId := .currentJukeboxId }}
{{ if gt (len $jukeboxes) 0 }}
  {{ $current := index $jukeboxes 0 }}
  {{ range $jukeboxes }}
    {{ if eq .id $currentJukeboxId }}
      {{ $current = . }}
    {{ end }}
  {{ end }}
<section class="jbx-section">
  <div class="jbx-box">
    <div class="jbx-nav-box">
      <p class="jbx-nav-label">Jukeboxes:</p>
      <div class="jbx-nav-links">
        {{ range $jukeboxes }}
          {{ $songCount := len (where $songs "jukebox" "intersect" (slice .id)) }}
          <a
            href="{{ printf "jukebox/%s/" .id | relURL }}"
            class="jbx-nav-link{{ if eq .id $currentJukeboxId }} active{{ end }}">
            {{ with .emoticon }}{{ . }} {{ end }}{{ .title }} [{{ $songCount }} songs]
          </a>
        {{ end }}
      </div>
    </div>
    
    <div class="jbx-selector-box">
      <div class="jbx-jukebox-meta">
        <p><span id="jbx-jukebox-description">{{ $current.description }}</span></p>
        <button type="button" id="jbx-genre-cloud-toggle" class="jbx-meta-action" aria-expanded="false">
          Show genres
        </button>
        <div class="jbx-genre-cloud-wrap" id="jbx-genre-cloud-wrap" hidden>
          <div class="jbx-genre-cloud" id="jbx-genre-cloud"></div>
        </div>
      </div>
    </div>

    <div class="jbx-player-wrap">
      <div id="jbx-youtube-player"></div>
    </div>

    <div class="jbx-controls">
      <button type="button" id="jbx-prev-song">Prev</button>
      <button type="button" id="jbx-play-song">Play</button>
      <button type="button" id="jbx-pause-song">Pause</button>
      <button type="button" id="jbx-next-song">Next</button>
      <button type="button" id="jbx-random-song">Random song</button>
      <button type="button" id="jbx-autoplay-mode">AutoPlay - Random</button>
    </div>

    <hr/>

    <div class="jbx-now-playing">
      <strong>Now playing:</strong>
      <p><span id="jbx-now-playing-text">Loading jukebox…</span></p>
    </div>

    <hr/>

    <div class="jbx-list" id="jbx-song-list"></div>
  </div>
</section>
{{ end }}
