{{ $base := .base }}
{{ $genres := .genres }}
{{ $prefix := .prefix }}
{{ $currentGenre := .currentGenre | default "" }}
{{ $baseURL := $base | relURL }}

<section class="{{ $prefix }}-filters">
  <p class="{{ $prefix }}-filter-links">
    <sub><a href="{{ $baseURL }}" class="{{ if not $currentGenre }}{{ $prefix }}-active-filter{{ end }}">all</a></sub>
    {{ range $genres }}
      <sub><a href="{{ printf "%s%s/" $base (. | urlize) | relURL }}" class="{{ if eq $currentGenre . }}{{ $prefix }}-active-filter{{ end }}">#{{ . | lower }}</a></sub>
    {{ end }}
  </p>
</section>
