{{ $base := .base }}
{{ $genres := .genres }}
{{ $showTypes := .showTypes }}
{{ $prefix := .prefix }}

<section class="{{ $prefix }}-filters">
  <p class="{{ $prefix }}-filter-links">
    <sub><a href="{{ $base }}">all</a></sub>
    {{ if $showTypes }}
      <sub><a href="{{ $base }}?type=album">albums</a></sub>
      <sub><a href="{{ $base }}?type=song">songs</a></sub>
    {{ end }}
    {{ range $genres }}
      <sub><a href="{{ $base }}?genre={{ . | urlquery }}">#{{ . | lower }}</a></sub>
    {{ end }}
  </p>
</section>