{{ if (.Param "showQuote") }}
    {{ $quotes := slice }}
    {{ range site.Data.quotes.quotes }}
        {{ $quotes = $quotes | append (dict "text" .text "author" .author) }}
    {{ end }}
    <div class="mpt">
        <div id="quote-container">
            <p id="quote-text">Loading inspiration...</p>
            <small id="quote-author"></small>
        </div>
    </div>
    <script>
    (function() {
        const quotes = {{ $quotes | jsonify | safeJS }};

        // Randomly pick one
        const randomIndex = Math.floor(Math.random() * quotes.length);
        const selected = quotes[randomIndex];

        // Update the DOM
        document.getElementById('quote-text').innerText = `"${selected.text}"`;
        document.getElementById('quote-author').innerText = `- ${selected.author}`;
    })();
    </script>
{{ end }}
