{{ $related := where .Site.RegularPages ".Params.categories" "intersect" .Params.categories }}
{{ $related = $related | complement (slice .) }}

{{ if $related }}
  <div class="mp related-posts">
    <h3>Related Articles</h3>
    <p class="related-posts-intro">I'm so glad you made it to the end. The following articles are loosely related to this one:</p>
    <ul class="related-posts-list">
      {{ range first 5 $related }}
        <li class="related-post-item">
          <time class="related-post-date" datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "Jan 02, 2006" }}
          </time>
          &mdash; 
          <a class="related-post-link" href="{{ .RelPermalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}