{{ partial "styles/base.html" . }}

{{ if eq .Layout "jukebox-home" }}
  {{ partial "styles/jukebox.html" . }}
{{ end }}

{{ if eq .Layout "albums-list" }}
  {{ partial "styles/albums.html" . }}
  {{ partial "styles/list-pagination.html" . }}
{{ end }}

{{ if eq .Layout "songs-list" }}
  {{ partial "styles/songs.html" . }}
  {{ partial "styles/list-pagination.html" . }}
{{ end }}

{{ if eq .Layout "links-list" }}
  {{ partial "styles/links.html" . }}
  {{ partial "styles/list-pagination.html" . }}
{{ end }}

{{ if eq .Layout "quotes-list" }}
  {{ partial "styles/quotes.html" . }}
{{ end }}

{{ if eq .Layout "taglines-list" }}
  {{ partial "styles/taglines.html" . }}
{{ end }}

{{ if eq .Section "olympiad" }}
  {{ partial "styles/olympiad.html" . }}
  {{ partial "styles/list-pagination.html" . }}
{{ end }}

{{ if eq .Type "visuals" }}
  {{ partial "styles/visuals.html" . }}
{{ end }}
